*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.section{
  max-width:1100px;
  width:90vw;
  /* height:96vh; */
  margin:0 auto;
  margin-bottom: 5vh;
  /* padding-bottom: 5vh; */
}

.flex{
  display:flex;
  align-items: center;
}
.App{
  background-color: #00040F;
  font-family: Poppins;
  /* line-height: 130%; */
  color:white;
}
.special-text{
  background: radial-gradient(64.33% 64.33% at 71.16% 35.69%, #DEF9FA 0.89%, #BEF3F5 17.23%, #9DEDF0 42.04%, #7DE7EB 55.12%, #5CE1E6 71.54%, #33BBCF 100%);

  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

h1{
  /* font-size: ; */
  font-weight: 600;
}
p{
  /* font-size: 1.125rem; */
  color: rgba(255, 255, 255, 0.70);
  font-family: Poppins;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 400;
  line-height: 170%; /* 1.9125rem */
}



.analyticsSection{
  justify-content: space-around;
  margin-top:5vh;
  margin-bottom:10vh;
}
.analyticsSection .line{
  width:0px;
  height:20px;
  border:1px solid white;
}